.root {
  display: flex;
  flex-flow: column nowrap;

  padding: 2rem;
}

.header {
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
  max-width: 400px;
}

.header-inner {
  display: flex;
  align-items: center;
  max-width: 875px;
  padding: 0.5rem 0;
}
.header-inner > h1 {
  margin: 0 1rem auto 0;
}

.book {
  padding: 1rem;
}
